body {
    background-image: url(../img/ocean.webp);
    background-repeat: repeat;
    background-size: cover;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 16px;
    background-color: rgb(172, 172, 172);
}

.page-container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.page-inset {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    min-height: 100%;
    margin-bottom: -32px;
}

.header-title {
    margin-bottom: 0px;
}

.header-paragraph {
    margin-top: 0px;
}

nav {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

nav ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
    padding: 2px;
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgb(64, 64, 64);
}

nav ul li:hover {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    border-radius: 5px;
}

h2, h3 {
    color: rgb(0, 0, 0);
    display: inline;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

.collapsible-button {
    background-color: rgb(212, 212, 212);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.collapsible-button-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
}

.collapsible {
    background-color: rgb(212, 212, 212);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.item a,
.item a:link,
.item a:visited,
.item a:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.item a:hover {
    color: rgb(64, 64, 64);
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding-bottom: 25px;
    font-size: 12px;
}

footer a:link, footer a:active, footer a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer a:hover {
    color: rgb(64, 64, 64);
}

footer p {
    margin: 0px;
}

#icon-set {
    font-size: 16px;
}

#icon-twitter:hover {
    color: rgb(0, 172, 238);
}

#icon-github:hover {
    color: rgb(64, 120, 192);
}

#icon-mail:hover {
    color: rgb(128, 128, 128);
}

@media only screen and (max-width: 850px) {
    body {
        background-attachment: scroll;
    }

    .page-container {
        margin-top: 10%;
        margin-right: 10%;
        margin-left: 10%;
    }

    nav ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .page-container {
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }

    nav ul li {
        font-size: 12px;
    }

    footer {
        text-align: center;
    }
    
    #icon-set {
        font-size: 32px;
    }
}

@media print {
    @page {
        margin: 0;
    }

    body {
        background-image: none;
        background-color: rgb(255, 255, 255);
        color-adjust: exact;
        -webkit-print-color-adjust: exact !important;
    }

    .page-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
    }

    nav, #invitation-text, #invitation, #icon-set {
        display: none;
    }

    .collapsible {
        background-color: rgb(240, 240, 240);
    }

    #education, #awards, #experience {
        display: block;
    }

    .noprint {
        display: none;
    }
}