body {
    background-image: url(../img/ocean.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 16px;
    background-color: rgb(172, 172, 172);
}

.page-container {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
}

.page-inset {
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    min-height: 100%;
    margin-bottom: -32px;
}

.header-title {
    margin-bottom: 0px;
}

.header-paragraph {
    margin-top: 0px;
}

.desktop {
    display: block;
}

.desktop-inline {
    display: inline;
}

.mobile {
    display: none;
}

.mobile-inline {
    display: none;
}

nav {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

nav ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 6px;
    overflow: hidden;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
    padding: 2px;
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgb(64, 64, 64);
}

nav ul li:hover {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    border-radius: 5px;
}

main {
    padding-bottom: 25px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(240, 240, 240);
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.5;
}

footer:hover {
    font-size: 24px;
}

footer a:link, footer a:active, footer a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer a:hover {
    color: rgb(64, 64, 64);
}

footer p {
    display: inline;
}

#attribution {
    margin-left: 10px;
    display: inline;
}

#icon-set {
    display: inline;
    margin-right: 10px;
    float: right;
}

#icon-twitter:hover {
    color: rgb(0, 172, 238);
}

#icon-github:hover {
    color: rgb(64, 120, 192);
}

#icon-mail:hover {
    color: rgb(128, 128, 128);
}

@media only screen and (max-width: 850px) {
    body {
        background-attachment: scroll;
    }

    .page-container {
        margin-top: 10%;
        margin-right: 10%;
        margin-left:10%;
    }

    nav ul li {
        font-size: 14px;
    }

    .desktop, .display-inline {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-inline {
        display: inline;
    }
}

@media only screen and (max-width: 600px) {
    nav ul li {
        font-size: 12px;
    }

    .desktop, .desktop-inline {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile-inline {
        display: inline;
    }

    footer {
        text-align: center;
    }

    footer:hover {
        font-size: 12px;
    }

    #attribution, #icon-set {
        display: block;
    }

    #icon-set {
        float: none;
        font-size: 32px;
    }
}